body { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0rem;
    padding: 0rem;
    background: #ffffff;
    color: #000000;
}
h1,h2{
    font-weight: normal;
}
main {
    margin: 2rem;
}
header {
    position: sticky;
    top: 0;
    width:100%;
    background: #ffffff;
    color: #fff;
    padding: 4rem;
    padding: 0%;
    text-align: center; }
        
nav { 
    background: #ecfcc2; 
    padding: 2%; 
    box-sizing: border-box;
    text-align: center; 
    transition: color 0.3s ease;
}
nav a {
    color: #000000; 
    padding: 1%;
    text-decoration: none;
    position: relative;
    transition: color 0.2s ease,font-size 0.2s ease;
}
nav a:hover{
    color: #c2a500;
    font-size: large;
}
.button {
    color: #000000; 
    padding: 1%;
    text-decoration: none;
    position: relative;
    transition: color 0.2s ease,font-size 0.2s ease;
    border: solid 1px;
}
.button:hover{
    color: #c2a500;
    font-size: large;
}
main {
    padding-left: 20%; 
    padding-right: 20%; 
}
footer {
    background: #1d2504;
    color: #fff; 
    text-align: center; 
    padding: 1rem; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}
div {
    border-color: #333;
    border-style: solid;
    margin: 5%;
    padding: 2rem;
}
#title{
    margin-right:20%;
}
.author{
    font-style: italic;
    flex-wrap: wrap;
    padding: 1px;
    border-style: none;
}
@media (max-width: 600px) {
    main {
        margin: 1%;
        padding: 0.5%;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    nav a{
        margin: 1%;
    }
}
